.main {
  width: 600px;
  background-color: aqua;
}

.gambar {
  width: 150px;
  margin-left: auto;
  margin right: auto;
}

a {
  display: inline-block;
  background-color: antiquewhite;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-content: center;
  text-align: center;
}
