body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

h1{
  text-align: center;
}

.img-1{
  border: 10px solid rgb(226, 226, 226);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.384);
  border-radius: 50%;
  width: 200px;
  box-sizing: border-box;

}

.container-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: auto;
  background-color: antiquewhite;
}



/* tanpa menggunakan flex */
.container-2{
  width: 700px;
  margin: auto;
  background-color: rgb(206, 230, 230);
  box-sizing: border-box;


}

.img-2 {
  width: 200px;
  border-radius: 50%;

}

.container-2 .img-2, p{
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px;

}

.container-2, h2{
  text-align: center;
  padding: 10px;

}